@font-face{
	font-family: "Candy";
	src:url("font/Candy_Demo.ttf");
}
body {
	background-image: url("../images/bg.jpg");
	padding: 5%;
	/*background-color:rgb(255, 255, 204);*/
	font-size: 30px;
	font-family: "Candy"
}

.top{
	display: flex;
	justify-content: center;
}

.left{
	display: flex;
	width: 30%;
	float: left;
}

.abouttown{
	text-align: center;
	line-height: 200px;

}

.middle{
	display: flex;
	width:60%;
	height: 100%;
	float: middle;
	text-align: center;
	background-color: 

}

.right{
	display: flex;
	width: 10%;
	float:right;
	text-align: center;
}

#round{
	width:200px;
	height:200px;
	background: rgb(255, 51, 51);
	-webkit-border-radius:100px;
	border-radius:100px;
}


.Dalian{
	display: inline-block;
	text-align: center;
	line-height: 100px;
	width: 60%;
	height:100px;
	margin-top: 10px;
	border: 2px ;
	padding:10px;
	font-size: 40px;
	background-color: rgb(255, 204, 153);
}




.h{
	text-align: center;
	line-height: 100px;
}



.home{
	display: inline-block;
	float: right;
	text-align: center;
	line-height: 50px;
	width: 20%;
	height:100px;
	margin-top: 5px;
	border: 2px solid black;
	padding:5px;
	font-size: 40px;
}
.home:hover{
	background-color:rgb(255, 204, 153);
	color: white; 
.pa{
	font-size: 40px;
}
.video{
	font-size: 40px;
}
a{
	text-decoration:none;
	color: black;
}